{% extends "base.html" %}

{% macro actions(f, type) -%}
  {% for endpoint, widget in f.actions -%}
    {% if widget.place == type -%}
      <a href="{{ url_for(endpoint, path=f.urlpath) }}"
         class="{{type}}{% if widget.css %} {{widget.css}}{% endif %}"
         >{{ widget.content }}</a>
    {%- endif %}
  {%- endfor %}
{%- endmacro %}

{% macro th(text, property, type='text', colspan=1) -%}
<th{% if colspan > 1 %} colspan="{{ colspan }}"{% endif %}>
    {% set urlpath = file.urlpath or None %}
    {% set property_desc = '-{}'.format(property) %}
    {% set prop = property_desc if sort_property == property else property %}
    {% set active = 'active' if sort_property in (property, property_desc) else '' %}
    {% set desc = 'desc' if sort_property == property_desc else '' %}
    <a href="{{ url_for('sort', path=urlpath, property=prop) }}"
       class="{{type}} sorting {{active}} {{desc}}"
       >Modified</a>
</th>
{%- endmacro %}

{% block style %}
  {{ super() }}
  {% for widget in manager.get_widgets('style') %}
    <link rel="stylesheet" type="text/css" href="{{ widget.href }}"/>
  {% endfor %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% for widget in manager.get_widgets('javascript') %}
    <script src="{{ widget.src }}"></script>
  {% endfor %}
{% endblock %}

{% block header %}
<h1>
  {% for parent in file.ancestors[::-1] %}
    {% if not loop.first %}
      <span> / </span>
    {% endif %}
    <a href="{{ url_for('browse', path=parent.urlpath) }}">{{ parent.name }}</a>
  {% endfor %}
  {% if file.name %}
    {% if file.parent %}
      <span> / </span>
    {% endif %}
    {{ file.name }}
  {% endif %}
</h1>
{% endblock %}

{% block content %}
{% if file.can_upload %}
    <form class="upload autosubmit"
          method="post"
          action="{{ url_for('upload', path=file.urlpath) }}"
          enctype="multipart/form-data">
        <label>
            <h2>Upload</h2>
            <input type="file" name="file[]" multiple=""/>
        </label>
        <input type="submit"/>
    </form>
{% endif %}
{{ actions(file, 'head-button') }}
{% if file.is_empty %}
    <p>No files in directory</p>
{% else %}
    <table class="browser">
        <thead>
            <tr>
              {{ th('Name', 'text', 'text', 3) }}
              {{ th('Mimetype', 'type') }}
              {{ th('Modified', 'modified', 'numeric') }}
              {{ th('Size', 'size', 'numeric') }}
            </tr>
        </thead>
        <tbody>
            {% for f in file.listdir(sortkey=sort_fnc, reverse=sort_reverse) %}
                <tr>
                    {% set endpoint, widget = f.default_action %}
                    <td class="{{ widget.icon }}"></td>
                    <td>
                        <a href="{{ url_for(endpoint, path=f.urlpath) }}"
                           {% if widget.css %}class="{{ widget.css }}"{% endif %}
                           >{{ widget.text }}</a>
                    </td>
                    <td>
                        {% if f.can_remove %}
                        <a href="{{ url_for('remove', path=f.urlpath) }}" class="remove button"></a>
                        {% endif %}
                        {% if f.can_download %}
                        <a href="{{ url_for('download_directory' if f.is_directory else 'download_file', path=f.urlpath) }}" class="download button"></a>
                        {% endif %}
                        {{ actions(f, 'button') }}
                    </td>
                    <td>{{ f.type }}</td>
                    <td>{{ f.modified }}</td>
                    <td>{{ "" if f.is_directory else f.size }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endblock %}
