language: python

addon:
  apt:
    nodejs

matrix:
  include:
  - python: "2.7"
  - python: "pypy"
  - python: "pypy3"
  - python: "3.3"
  - python: "3.4"
  - python: "3.5"
  - python: "3.6"
    env:
    - eslint=yes
    - sphinx=yes

install:
  - pip install --upgrade pip
  - pip install -r requirements/ci.txt
  - pip install .
  - |
    if [ "$eslint" = "yes" ]; then
      nvm install stable
      nvm use stable
      npm install eslint
      export PATH="$PWD/node_modules/.bin:$PATH"
    fi

script:
  - make flake8 coverage
  - |
    if [ "$eslint" = "yes" ]; then
      make eslint
    fi
  - |
    if [ "$sphinx" = "yes" ]; then
      make doc
    fi

after_success:
  - codecov
  - coveralls
  - |
    if [ "$sphinx" = "yes" ] && \
       [ "$TRAVIS_BRANCH" = "master" ] && \
       [ "$TRAVIS_PULL_REQUEST" = "false" ]; then
      ghp-import \
        --push \
        --force \
        --no-jekyll \
        --branch=gh-pages \
        --remote="https://${GH_TOKEN}@github.com${TRAVIS_REPO_SLUG}.git" \
        doc/.build/html
    fi

notifications:
  email: false

cache:
  directories:
    - $HOME/.cache/pip
