language: python

sudo: false

matrix:
  include:
  - python: "2.7"
    env: PIP_PARAMS="--download-cache $HOME/.cache/pip"
  - python: "pypy"
    env: PIP_PARAMS=""
  - python: "3.3"
    env: PIP_PARAMS="--download-cache $HOME/.cache/pip"
  - python: "3.4"
    env: PIP_PARAMS="--download-cache $HOME/.cache/pip"
  - python: "3.5"
    env: PIP_PARAMS=""

install:
  - pip install travis-sphinx pep8 coveralls . $PIP_PARAMS

script:
  - make travis-script

after_success:
  - make travis-success

notifications:
  email: false

cache:
  directories:
    - $HOME/.cache/pip
